@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  color: var(--panel-title);
}

h1 {
	font-size: 50px;
    margin-block-end: 10px;
}

h2 {
	font-size: 35px;
    margin-block-end: 20px;
}

li {
	font-size: 25px;
}

.link, a, a:visited {
	color: #00ff99;
}

.link-button {
    border: 2px solid #00ff90;
    padding: 0.15em 0.4em;
    margin: 0.3em 0.6em 0.3em 0;
    color: #00ff90;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
}

.link-button:hover {
    border: 2px solid #00ff90;
    padding: 0.15em 0.4em;
    background-color: #00ff90;
    color: white;
}

#check {
	border: solid;
}

#toggleMode{
  visibility: hidden;
}

.toggle-dark,
.toggle-light{
  color: #00ff90;
  left: 2em;
  display: inline-block;
  padding: 0.15em 0.4em;
  margin: 0.3em 0.6em 0.3em 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.toggle-dark{
  display: block;
  color: #222;
  border: 2px solid #222;
}

.toggle-dark:hover{
  color: #00ff90;
  border: 2px solid #00ff90;
}

.toggle-light{
  display: none;
  color: white;
  border: 2px solid white;
}

#toggleMode:checked ~ .toggle-dark{
  display: none;
}

#toggleMode:checked ~ .toggle-light{
  display: block;
}

#container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg);
  z-index: 1;
  padding: 0 2em;
  font-family: 'Roboto Mono', monospace;
  color: var(--panel-title);
}

#toggleMode:checked ~ #container{
  --bg: #001c38;
  --panel-bg: #111413;
  --panel-border: #1f2322;
  --panel-title: white;
  --panel-text: #505456;
  --btn: #2962fe;
  
  background-color: var(--bg);
}
